.asw-wrap {
  position: relative;
}
.ui-widget {
  font-size: 2em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.25em;
}
#asw-filter {
  padding-bottom: 20px;
}
#asw-filter-button {
  margin-bottom: 20px;
}
/* Make loader */
#asw-wrap-loader {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  z-index: 4;
  display: none;
}
#asw-loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  background-color: rgba(255, 255, 255, .6);
  /* Position */
  position: absolute;
  z-index: 5;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Select2 style */
.select2-container .select2-selection--single {
  height: 33px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 31px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px !important;
}

/* WooStyle */
.woocommerce-pagination .prev {
  display: none !important;
}
.woocommerce-pagination .next {
  display: none !important;
}
